<div class="container register-container">
  <h2 class="text-center mb-4">Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter first name" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter last name" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="userName">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"
             formControlName="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>
  <app-feedback [message]="message" [messageType]="messageType"></app-feedback>
  <div class="mt-3 text-center">
    <a routerLink="/login">Login</a>
  </div>
  <div class="mt-3 text-center" *ngIf="role === 'ADMIN'">
    <a routerLink="/home">Home</a>
  </div>
</div>
